.letter {
    /* --default-color: black; */
    color: var(--default-color);
}

.letter.anim_color {
    animation-name: letter-color;
    animation-duration: 3s;
    animation-fill-mode: both;
}

/* 
    0%   default-color
    15%  color
    85%  color
    100% default-color
*/
@keyframes letter-color {

    0%,
    100% {
        color: var(--default-color)
    }

    15%,
    85% {
        color: var(--color)
    }
}